/* Rosé Pine Palette */
@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;
@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;
@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;
@define-color highlight_low   #21202e;
@define-color highlight_med   #403d52;
@define-color highlight_high  #524f67;

/* Global styles */
* {
    font-family: "Iosevka Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: @text;
}

/* Common module styles */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#window,
#custom-power,
#workspaces {
    background: @overlay;
    color: @text;
    padding: 2px 12px;
    margin: 0 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Specific button styles for workspaces */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @subtle;
    border-radius: 0;
}

#workspaces button.active {
    color: @iris;
    background-color: @highlight_low;
}

#workspaces button:hover {
    background: @highlight_med;
    color: @text;
}

/* Battery animations and states */
#battery.charging,
#battery.plugged {
    color: @foam;
}

@keyframes blink {
    to {
        background-color: @love;
        color: @text;
    }
}

#battery.critical:not(.charging) {
    background-color: @love;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected,
#pulseaudio.muted {
    color: @love;
}

#keyboard-state {
    background: @overlay;
    color: @text;
}
