/* Center modules styling */

#window,
#clock.date,
.modules-center #clock {
    margin: 0 1px;
    background: #24283b;
    padding: 2px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
   
  }
