/* Right modules styling */

#clock {
    background-color: #64727D;
    
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background-color: #2980b9;
    border-radius: 5px;
}

#network.disconnected {
    background-color: #f53c3c;
    border-radius: 5px;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
    border-radius: 5px;
}

#pulseaudio:hover {
    background-color: #a37800;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
    border-radius: 5px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}